<div class="ui centered card fluid">

  <!-- Header -->
  <div class="ui menu attached">
    <div class="ui container">

      <!-- User Info -->
      <div class="item item-simple py-1 px-3">
        <a routerLink="/profile/{{post.author_id}}">
          <img class="ui avatar image" src="{{post.author_avatar_url}}">
          <span class="pl-1 black">{{post.author_username}}</span>
        </a>
      </div>

      <!-- Action Menu -->
      <div class="right menu">
        <div class="ui item-simple simple dropdown item" suiDropdown>
          <i class="ellipsis vertical icon m-0"></i>
          <div class="menu" suiDropdownMenu>

            <!-- Show only if the user is the post owner -->
            <div *ngIf="post.isCurrentUserOwner">

              <!-- Edit Post -->
              <a routerLink="/edit/{{post.post_id}}" class="item">
                <i class="edit icon"></i>Edit
              </a>

              <!-- Delete Post -->
              <a class="item" (click)="showDeleteModal = true">
                <i class="trash alternate outline icon"></i>Delete
              </a>
            </div>

            <!-- Download Image -->
            <a href="{{post.raw_image_url}}" target="blank" class="item">
              <i class="cloud download icon"></i>Download
            </a>

          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- Post Image -->
  <div class="image" style="cursor: pointer;">
    <img src="{{post.thumbnail_url || post.raw_image_url}}" (click)="toggleFullscreenImage(post)">
  </div>

  <!-- Content -->
  <div class="content">

    <div *ngIf="post.title" class="header py-0">{{post.title}}</div>
    <div *ngIf="post.description" class="description my-0">{{post.description}}</div>
    <div *ngIf="post.tags.length" class="mt-1">
      <a *ngFor="let tag of post.tags" class="ui label small mt-1 ml-0 mr-1 p-1" [routerLink]="['/search/', tag]">
        <i class="hashtag icon mr-1"></i>{{tag}}
      </a>
    </div>

    <div class="ui right floated">
      <span class="meta">{{post.eta}}</span>
    </div>

  </div>


  <!-- Footer -->
  <div class="extra content center aligned">

    <!-- Loader -->
    <div *ngIf="post.isSendingVote">
      <div class="ui active centered inline loader my-2"></div>
    </div>

    <div *ngIf="!post.isSendingVote">

      <!-- Vote Details -->
      <sui-rating *ngIf="post.isVoted" class="huge star" [ngModel]="post.votes_avg" [maximum]="5"
        [isReadonly]="post.isReadonly"></sui-rating>

      <div *ngIf="!post.isVoted" class="date mb-1">
        Vote here
        <br>
        <sui-rating class="massive star" [ngModel]="0" [maximum]="5" (ngModelChange)="setVote(post, $event)"
          [isReadonly]="post.isReadonly"></sui-rating>
      </div>

      <!-- Stats -->
      <a (click)="toggleFullscreenImage(post)">
        <div class="mt-1" *ngIf="post.isVoted">
          <span><i class="user icon"></i><b>{{post.votes_n}}</b> Votes</span>&nbsp;&nbsp;&nbsp;&nbsp;
          <span><i class="chart bar outline icon"></i>Avg: <b>{{post.votes_avg}}</b></span>
        </div>
      </a>

    </div>
  </div>

</div>

<!-- Delete Modal -->
<sui-modal [isClosable]="true" [mustScroll]="true" [isFullScreen]="true" *ngIf="showDeleteModal"
  (dismissed)="showDeleteModal = false" #modalDelete>

  <!-- Header -->
  <div class="custom-modal header">
    Are you sure to delete post?
  </div>

  <!-- Image to delete -->
  <div class="content">
    <div class="ui centered card">
      <div class="image">
        <img src="{{post.thumbnail_url || post.raw_image_url}}">
      </div>
    </div>
  </div>

  <!-- Actions -->
  <div class="actions">
    <div class="ui buttons mb-3">
      <div class="ui negative button" (click)="modalDelete.approve(); deletePost()">
        <i class="trash icon"></i> Yes,Delete</div>
      <div class="ui secondary basic button" (click)="modalDelete.deny();">Cancel</div>
    </div>
  </div>

</sui-modal>


<!-- Full screen dimmer -->
<sui-dimmer class="page" [(isDimmed)]="fullScreen" *ngIf="fullScreen">

  <div class="ui fluid middle aligned mt-5">
    <img src="{{selectedPost.thumbnail_url || selectedPost.raw_image_url}}">
  </div>

  <div class="content mt-3" style="height: 100%;">
    <h3 class="header my-0 py-0">{{selectedPost.title}}</h3>
    <div class="description mt-1 mb-2">{{selectedPost.description}}</div>

    <div *ngIf="selectedPost.isVoted">
      <sui-rating class="huge star" [ngModel]="selectedPost.votes_avg" [maximum]="5" [isReadonly]="true">
      </sui-rating>&nbsp;&bull;&nbsp;
      <b style="font-size: 1.5rem">{{selectedPost.votes_avg}}</b>

      <div class="user-list mt-3 px-4">

        <!-- User Votes -->
        <h3>{{selectedPost.votes_n}} vote(s)</h3>

        <!-- Loading -->
        <div class="ui active centered inline text loader mt-5" *ngIf="isLoading && !isErrored">
          <b>Loading...</b>
        </div>
        <div class="ui active centered inline inverted header" *ngIf="isErrored">There is a problem!</div>

        <div class="ui center middle aligned divided list" *ngIf="!isLoading">

          <div class="item" *ngFor="let vote of selectedPost.votes">
            <div class="right floated content">
              <sui-rating class="huge star" [ngModel]="vote.value" [maximum]="5" [isReadonly]="true">
              </sui-rating>&nbsp;&bull;&nbsp;
              <b style="font-size: 1.5rem">{{vote.value}}</b>
            </div>
            <img class="ui avatar image" src="{{vote.author_avatar_url}}">
            <div class="content"> {{vote.author_username}} </div>
          </div>

        </div>

      </div>
    </div>

    <div class="ui active centered inline inverted header mt-5" *ngIf="!selectedPost.isVoted">
      You have to vote this photo to see the users' votes
    </div>
  </div>

</sui-dimmer>