<app-layout></app-layout>

<div class="ui container">

  <div class="ui center aligned grid">

    <!-- 404 Error -->
    <div class="ui center aligned basic segment" *ngIf="isErrored">
      <h2 class="ui header mt-5">
        <div class="header"><code>404</code><br>User does not exist</div>
      </h2>

      <!-- Gallery Button -->
      <button class="ui basic icon labeled button" routerLink="/gallery">
        <i class="long arrow alternate left icon"></i>Gallery
      </button><br><br>
    </div>


    <!-- Profile Information -->
    <div class="column" *ngIf="userData && !isErrored">

      <!-- Header - Full Name -->
      <img class="ui small circular center aligned image mt-3" src="{{userData.avatar}}" />

      <h2 class="ui header mt-1">
        <div class="header">{{userData.firstname}} {{userData.lastname}}</div>
        <div class="sub header">{{userData.username}}</div>
      </h2>

      <div style="font-size: 1.5rem;">
        <div>User Score</div>
        <div>
          <sui-rating class="massive star my-2" [ngModel]="vote_avg" [maximum]="5" [isReadonly]="true" *ngIf="vote_avg">
          </sui-rating>
        </div>
        <b>{{vote_avg}}</b>
      </div>

    </div>
  </div>

  <h3 class="ui centered header mt-5" *ngIf="!isLoading && !imageList.length">
    <div class="sub header"><b>{{userData.firstname}} {{userData.lastname}}</b> has not uploaded any pictures yet</div>
  </h3>

  <!-- Gallery List -->
  <div class="ui grid">
    <div *ngFor="let post of imageList" class="sixteen wide mobile eight wide tablet four wide computer column">
      <app-gallery-item [post]="post"></app-gallery-item>
    </div>
  </div>

  <!-- Loading -->
  <div class="ui active centered inline text loader mt-5" *ngIf="isLoading && !isErrored">
    <b>Loading...</b>
  </div>

</div>