<app-layout></app-layout>

<div class="ui container">

  <div class="ui center aligned grid">
    <div class="ui left aligned column">

      <!-- Header -->
      <h2 class="ui center aligned header my-3">
        <div class="header">Ranking</div>
      </h2>

      <div class="ui unstackable divided items">
        <div class="item" *ngFor="let post of posts">

          <h2 *ngIf="post.ranking == 1" class="ui header pt-2 pr-1">{{post.ranking}}°&nbsp;</h2>
          <h4 *ngIf="post.ranking != 1" class="ui header pt-2 pr-3">{{post.ranking}}°</h4>

          <div *ngIf="post.ranking == 1" class="ui medium image">
            <img src="{{post.thumbnail_url}}">
          </div>
          <div *ngIf="post.ranking != 1" class="image">
            <img src="{{post.thumbnail_url}}">
          </div>

          <div class="content">

            <!-- Title & Description -->
            <div *ngIf="post.title" class="header">{{post.title}}</div>
            <div class="description mt-0" style="word-wrap: break-word;">
              <p>{{post.description}}</p>
            </div>

            <!-- Tags -->
            <div class="extra">
              <div *ngIf="post.tags.length" class="mt-1">
                <a *ngFor="let tag of post.tags" class="ui label small mt-1 ml-0 mr-1 p-1"
                  [routerLink]="['/search/', tag]">
                  <i class="hashtag icon mr-1"></i>{{tag}}
                </a>
              </div>
            </div>

            <!-- Votes & Info -->
            <div class="extra mt-3">
              <sui-rating class="huge star" [ngModel]="post.votes_avg" [maximum]="5" [isReadonly]="true"></sui-rating>
              &nbsp;&nbsp;
              <span><i class="user icon"></i><b>{{post.votes_n}}</b> Votes</span>&nbsp;&nbsp;
              <span><i class="chart bar outline icon"></i>Avg: <b>{{post.votes_avg}}</b></span>
            </div>

            <!-- Author -->
            <div class="my-1">
              Uploaded by: &nbsp;&nbsp;
              <a class="black" [routerLink]="['/profile/', post.author_id]">
                <img class="ui avatar image" src="{{post.author_avatar_url}}">
                {{post.author_username}}
              </a>
            </div>

            <span class="meta">{{post.eta}}</span>
          </div>

        </div>
      </div>

      <!-- Loading -->
      <div class="ui active centered inline text loader mt-5" *ngIf="isLoading">
        <b>Loading...</b>
      </div>

    </div>
  </div>
</div>